* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    background: #564747;
}

body {
    background-image: radial-gradient(circle at 38% 32%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 34% 62%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 3% 32%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 28% 87%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 15% 30%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 64% 45%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 3% 100%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 74% 78%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 92% 23%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 100% 40%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 43% 31%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 4%,transparent 4%, transparent 96%),linear-gradient(90deg, rgb(164, 0, 244),rgb(57, 10, 184));
}

header {
    width: 100%;
    padding: 10px;
}

h1, p {
    color: #fff; 
}

h2, h3 {
    margin: 30px 0;
    color: #fff;
}

h2 {
    text-align: center;
}

label {
    color: #fff;
    margin-bottom: 5px;
}

input {
    margin-bottom: 20px;
    color: #564747;
    background: #fff;
    font-size: 15px;
    transition: all .3s;
    padding: 13px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    font-weight: 400;
}

button {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    margin: 20px 5px 0;
    display: inline-block;
    transition: all .5s ease;
    background: transparent;
    cursor: pointer;
}

button:hover {
    border: 1px solid transparent;
}